@model IEnumerable<MyResume.Models.Message>

@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var item in Model)
{
    <div class="row justify-content-md-center lh-base">
        <div class="col-3">
            <ul class="list-unstyled">
                <li>@item.Id . @Html.DisplayFor(modelItem => item.FullName)</li>
                <li class="text-black-50">@Html.DisplayFor(modelItem => item.Email)</li>
                <li class="text-black-50">@Html.DisplayFor(modelItem => item.CreatedAt)</li>
            </ul>
        </div>
        <div class="col-8">@Html.DisplayFor(modelItem => item.Body)</div>
    </div>

}

<partial name="/Views/Shared/pagination.cshtml" />